.imminent-campaign {
     &__details {
                display: table;
                width: 100%;
                color: #0da562; 
                >.imminent-campaign__percent {
                    display: table-cell;
                    // @include rfonts(16, 38);
                    font-weight: 500;
                }
                .num {
                    font-family: $montserrat;
                    @include rfonts(16, 38);
                }
                .unit {
                    @include rfonts(12);
                    font-weight: lighter;
                    &.bold {
                        font-weight: 600;
                    }
                }
                
                .bar {
                    display: block;
                    width: 100%;
                    height: 3px;
                    background-color: rgba(247, 247, 247, .3);
                    &-gage {
                        display: block;
                        height: 100%;
                        background-color: #0da562;
                        &.is-active {
                            width: 0;
                            visibility: hidden;
                            animation: progressBar .9s both;
                        }
                    }
                }

            }
            &__percent {
                text-align: right;
            }

           // 프로그레스바 수정 중
            .info {
                display: inline-block;
                @include rfonts(12, 43, 300);
                letter-spacing: -.05em;
                color: #0da562; 
                &--per {
                    float: right;
                }
                .num {
                    font-family: $montserrat;
                    @include rfonts(16, 38, 500);
                    letter-spacing: 0;
                }
                .unit {
                    @include rfonts(12);
                    font-weight: lighter;
                    &.bold {
                        font-weight: 600;
                    }
                }
            }
            // &-state {
                // position: relative;
                // .bar {
                //     display: block;
                //     width: 100%;
                //     height: 3px;
                //     position: absolute;
                //     bottom: 36px;
                //     background-color: rgba(247, 247, 247, .3);
                //     &-gage {
                //         display: block;
                //         height: 100%;
                //         background-color: #0da562;
                //         &.is-active {
                //             width: 0;
                //             visibility: hidden;
                //             animation: progressBar .9s both;
                //         }
                //     }
                // }
            // }
}