.#{$component-name} {
    padding: 0 5%;
    text-align: left;
    .hl_c { background: linear-gradient(to top, #98ffcbbd 50%, transparent 50%); }
    .hl_mp { background: linear-gradient(to top, #ffdc43e5 50%, transparent 50%); }
    .hl_v { background: linear-gradient(to top, #ff8181af 50%, transparent 50%); }
    .c {
        text-indent: -2em;
        margin-left: 2em;
    }
     div[class^='exam_box'] {
        padding-top: 30px;
    }
    div[class^='exam_box_appy_'] {
        .parent {
             background: rgb(220, 166, 255);
        }
    }

    .parent {
        display: block;
        min-width: 800px;
        height: 400px; 
        background: rgb(139, 199, 139);
        .child {
            width: auto;
            max-height: 400px;
            box-sizing: border-box;
            border: 5px solid slategray;
            background-color: rgba(181, 163, 218, 0.267);
            padding: 254px 30px 30px 24px;
        }
    }

    .parent { 
        &.s-align-right {
            .child {
                padding: 254px 10px 30px 250px;
            }
        }

        &.s-align-center {
            .child {
                padding: 254px 130px 30px 130px;
            }
        }

        &.s-align-top {
            .child {
                padding: 30px 130px 254px 130px;
            }
        }
        
        &.s-align-middle {
            .child {
                padding: 150px 130px 150px 130px;
            }    
        }
    }
}